@page "/"

@using BlazorApp.Data;
@inject IFoodService foodService;
@inject PaymentService paymentService;


<div>
	@foreach(var food in foodService.GetFoods())
	{
		<div>@food.Name</div>
		<div>@food.Price</div>
	}
</div>

@code{
	//IFoodService _foodService = new FoodService();  inject로 대체함과 동시에 코드 의존성 완화
	protected override void OnInitialized()
	{
		
	}
}